.container-title-category-selected {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  margin: 4rem;
  justify-content: center;
  justify-content: flex-start;
}

.return {
  justify-content: flex-end;
  position: relative;
  z-index: 1;
  width: 8%;
  text-align: center;
  margin: 4rem;
}

.return::before {
  content: '';
  position: absolute;
  z-index: -2;
  top: 119%;
  left: 30%;
  transform: translate(-50px, -50px) rotate(45deg);
  height: 40px;
  width: 40px;
  background-color: #1a1a1a;
}