.choiceProduct {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  row-gap: 20px;
  column-gap: 20px;

  

}

@media screen and (max-width: 600px) {
  .choiceProduct {
    grid-template-columns: 1fr;
  }
}