.command-overview-container {
  margin-inline: 1rem;
  width: calc(30% - 2rem);
}
.command-overview-container__top {
  color: #08230a;
}
.command-overview-container__main {
  border-radius: 0.5rem;
  border: 3px solid #08230a;
  margin-bottom: 1rem;
}
.command-overview-container__main-header {
  background-color: #08230a;
  color: #fff;
  font-size: 28px;
  padding-block: 0.3rem;
  padding-left: 0.3rem;
  font-weight: 600;
}
.command-overview-container .product-description {
  color: #08230a;
  padding-left: 3rem;
}
.command-overview-container .product-description p {
  margin-bottom: 0;
}

.command-overview-container__navigate-btns {
  display: flex;
  justify-content: center;
}
.command-overview-container__navigate-btns button {
  width: 6rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 0.5rem;
  background-color: #08230a;
  color: #fff;
}
.command-overview-container__navigate-btns button i {
  font-size: 2rem;
}
.command-overview-container__navigate-btns button.inactive {
  background-color: #1d482085;
}
.command-overview-container__total {
  background-color: #08230a;
  color: #fff;
}
.command-overview-container__bottom {
  display: flex;
  gap: 1rem;
}
.command-overview-container__bottom button {
  font-weight: 700;
}
.command-overview-container__bottom button:first-child {
  background-color: rgb(159, 5, 5);
}
.command-overview-container__bottom button:last-child {
  background-color: #08230a;
}
.command-overview-container__bottom button.inactive {
  background-color: #1d4820;
}
