.navbarCategory {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
  /* Assurez-vous que la barre de navigation soit au-dessus de tout autre contenu */
}